<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
<body id="body" > 
    
<div id="wrapper">
    <div class="wrap"> 
        <div id="header" class="header_small"> 
                <div id="logo">
				<a href="/"></a></div>
				<div class="login"> 
                <a  href="">Login</a>
                <a href="" ><img src="{{ MEDIA_URL }}images/signin.png" width="100" height="40"/></a> 
                </div> 
				<div class='clear'></div> 
		</div><!-- end #header --> 
		<div class="box-center">
			<div id="content-image"></div> 
			<div class="formbox"> 
				<input name="email" title="Email Address" value="Email Address" class="forminput" type="text" id="signup-email"/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input name="email" title="City" value="City:" class="forminput" type="text" id="signup-email" />  
				<a href=""><div id="subscribe"></div></a>
			</div> 
		</div>
    </div><!-- end .wrap --> 
</div><!-- end #wrapper --> 

<div class='clear'></div> 
<div id="footer"> 
    <div class="wrap"> 
        <div id="footer-menu"  > 
            <h1><font>Deals in other cities</font></h1><br/>
                      
				<table border="0">
                <tr >
                <td class="footer_city"><span><a href="">Atlanta</span></td> 
                <td class="footer_city"><span><a href="">Austin</span></td>                
                <td class="footer_city"><span><a href="">Baltimore</span></td>                 
                <td class="footer_city"><span><a href="">Boston</span></td>                 
                <td class="footer_city"><span><a href="">Brooklyn </span></td> 
                </tr>
                <tr>  
                <td class="footer_city"><span><a href="">Charlotte</span></td>                 
                <td class="footer_city"><span><a href="">Chicago</span></td>                 
                <td class="footer_city"><span><a href="">Cincinnati</span></td>             
                <td class="footer_city"><span><a href="">Cleveland</span></td>                 
                <td class="footer_city"><span><a href="">Columbus</span></td> 
               </tr>
               <tr>  
                <td class="footer_city"><span><a href="">Dallas</span></td>               
               <td class="footer_city"><span><a href="">Denver</span></td>              
                <td class="footer_city"><span><a href="">Detroit</span></td>                
                <td class="footer_city"><span><a href="">Fort Lauderdale</span></td>                 
                <td class="footer_city"><span><a href="">Hartford</span></td> 
              </tr>   
              <tr>
                <td class="footer_city"><span><a href="">Houston</span></td>          
                <td class="footer_city"><span><a href="">Indianapolis</span></td>                
                <td class="footer_city"><span><a href="">Jacksonville</span></td>                
                <td class="footer_city"><span><a href="">Kansas City</span></td>               
                <td class="footer_city"><span><a href="">Las Vegas</span></td> 
               </tr>   
              <tr>
                <td class="footer_city"><span><a href="">London</span></td>                
                <td class="footer_city"><span><a href="">Los Angeles</span></td>               
                <td class="footer_city"><span> <a href="">Miami</span></td>            
                <td class="footer_city"><span><a href="">Milwaukee</span></td>              
                <td class="footer_city"><span><a href="">Minneapolis</span></td> 
                </tr>  
                <tr>
                <td class="footer_city"><span><a href="">Montreal</span></td>              
                <td class="footer_city"><span><a href="">Nashville</span></td>                
                <td class="footer_city"><span><a href="">New Orleans</span></td>                
                <td class="footer_city"><span><a href="">New York</span></td>                
                <td class="footer_city"><span><a href="">Northern VA</span></td> 
                </tr>  
                <tr> 
                <td class="footer_city"><span><a href="">Oakland</span></td>  
                <td class="footer_city"><span><a href="">Orange County</span></td>                
                <td class="footer_city"><span><a href="">Orlando</span></td>                 
              <td class="footer_city"><span><a href="">Philadelphia</span></td>               
                <td class="footer_city"><span><a href="">Phoenix</span></td> 
                </tr>  
               <tr> 
                <td class="footer_city"><span><a href="">Pittsburgh</span></td>            
                <td class="footer_city"><span><a href="">Portland</span></td>                
                <td class="footer_city"><span><a href="">Raleigh-Durham</span></td>               
                <td class="footer_city"><span><a href="">Sacramento</span></td>             
                <td class="footer_city"><span><a href="">Salt Lake City</span></td> 
                </tr>  
               <tr> 
                <td class="footer_city"><span><a href="">San Antonio</span></td>               
               <td class="footer_city"><span><a href="">San Diego</span></td>                
                <td class="footer_city"><span><a href="">San Francisco</span></td>                
                <td class="footer_city"><span><a href="">San Jose</span></td>                
                <td class="footer_city"><span><a href="">Seattle</span></td> 
                </tr>  
            </table>
        </div><!-- end #footer-menu --> 
        <div id="footer-sitemap"> 
             <div id="logo-footer" ></div>
			           	<ul> 
                <li class="nav_footer"><a href="">About us</a></li>
                <li class="nav_footer"><a href="">Blog</a></li>
                <li class="nav_footer"><a href="">Cities</a></li> 
                <li class="nav_footer"><a href="">Contact us</a></li> 
                <li class="nav_footer"><a href="">Deals</a></li> 
                <li class="nav_footer"><a href="">FAQ</a></li>
                <li class="nav_footer"><a href="">Search Businesses</a></li> 
                <li class="nav_footer"><a href="">THe Best of</a></li> 
               </ul> 
     
        </div><!-- end #footer-sitemap -->
        <div class="clear"></div> 
        <div id="privacy"><a href=""><h6>Privacy | terms of use</h6></a></div>
	      	<div id="copyright"><h6>Copywrite 2011 PintheDeal.com</h6></div>
       </div><!-- end .wrap --> 
</div><!-- end #footer -->  
</body>
</html>
